.header_bottom {
    box-shadow: -4px 5px 30px 0px rgba(180, 179, 179, 0.5);
}
.header_bottom .fa-search {position: relative; top:-5px;}
.header_bottom .container_inner, .header_top .container_inner {width:auto;}

  
.header_top {padding: 8px 45px;}
.topphp {
    font-size: 16px;
    font-family: 'Raleway';
    color: #fff;
    font-weight: 500;
    padding-right: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.42);
    margin-right: 12px;
}
.topphp i {
    font-size: 18px;
    position: relative;
    top: 3px;
    right: 5px;
}
/*sets all SVG's to be responsive. displaying at full width*/
img[src*='.svg']{
    width: 100%;
    height: auto;
}

/*SERVICE SECTION*/
#servicesq {}
#servicesq .vc_col-sm-2 .vc_column-inner .wpb_wrapper {
    border: 1px solid #c8c8c8;
    padding: 30px;
}
#servicesq .vc_col-sm-2 .vc_column-inner .wpb_wrapper:hover {
    background: #1414ff;
}
#servicesq .vc_col-sm-2 .vc_column-inner .wpb_wrapper:hover .servicetext .wpb_wrapper a {
    color:#fff;
}
#servicesq .vc_col-sm-2 .vc_column-inner .wpb_wrapper:hover .hover_image {
    opacity:1!important;
}
#servicesq .servicetext .wpb_wrapper { border: 0px solid #c8c8c8!important;
    padding: 0px!important;
text-transform: uppercase;
    font-size: 18px;
    color: #1414ff;
    padding-top: 40px!important;
    font-family: 'Montserrat', sans-serif;
}
#servicesq .servicetext .wpb_wrapper a {
color: #1414ff;
}
#servicesq .servicetext .wpb_wrapper:hover {color:#fff!important;}
#servicesq .full_section_inner .vc_col-sm-2:nth-child(6) .vc_column-inner .wpb_wrapper {
    background: #e8e8e8;
    padding-top: 0;
}
#servicesq .full_section_inner .vc_col-sm-2:nth-child(6) .vc_column-inner .wpb_wrapper:hover {
    background: #606060;
   
}
.lastserviceblock .wpb_wrapper p {
    padding: 58px 0px!important;
    display: block;
}
.spncrs {}
.spncrs table {
    width: 100%;
}
.spncrs td {
    vertical-align: middle;
}
.spncrs td img {
    width: 100%;
}
#serq1 {}
div#serq1 .vc_col-sm-2 .vc_column-inner {
    padding: 100px 10px 30px 10px;
    text-align: center;
    color: #fff;
  min-height:390px;
}
div#serq1 .vc_col-sm-2 .vc_column-inner p {
    font-size: 18px;
    font-weight: 300;
}
.free-booking-book {
     height: 230px;
    margin-top: 60px;
}
	
.free-booking-book img {margin-top: -49px;}	
/*/*NEWSLETTER*/
.newsltr {
    background: #dadada;
    padding: 20px 0px;
}
.mailchimp_headings {
 font-size: 14px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 15px;
    text-transform: UPPERCASE;
    display: inline-block;
    width: 20%;
}
.mcwpq {
    display: inline-block;
    position: relative;
    top: -15px;
}
.signupnow {
    position: relative;
    background: #1212ec;
    padding: 10px 21px;
    color: #fff;
    top: 1px;
    display: inline-block;
  text-transform:uppercase;
}
.signupnow::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid #1212ec;
    border-top: 23px solid rgba(0, 0, 0, 0);
    border-bottom: 23px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 0px;
    right: -20px;
}
.cms-text {
    padding: 1.3em;
    margin-left: -142px;
    padding-left: 160px;
    outline: 0;border: 0px solid #000;
    box-shadow: 0px 0px 6px #a1a1a1;
}
.cms-text2 {padding: 1.3em;
    width: 240px;
    padding-right: 95px; outline: 0;border: 0px solid #000;
    box-shadow: 0px 0px 6px #a1a1a1;margin-left: 15px;}
.cms-button {
background: #1212ec;
    color: #fff;
    border: 0;
    padding: 0.9em;
    margin-left: -90px;
    text-transform: uppercase;
}
.footer_top h5 {
    margin-bottom: 10px;
    border-bottom: 1px solid #605e5e;
    padding-bottom: 5px;
}