/*============================================================

	Theme Name: web123-child
	Theme URI: http://www.web123.com.au
	Author: http://www.web123.com.au
	Author URI:
	Version: 1.0
	Description:
	Template: web123
	Text Domain: web123

============================================================*/
@import url('href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,700,800"');

span.spaceing {
   
    margin: 0 5px;
}
.news.menu-item a, .case.menu-item a, .about.menu-item a, .support.menu-item a , .contact.menu-item a , .solution.menu-item a {
    cursor: none;
    pointer-events: none;
}

.blog_single.blog_holder {
    margin: 100px 0 0 99px;
}

h1.title-page {
  
   font-family: 'Montserrat' !important;
    font-size: 30px;
    line-height: 1.25em;
    text-transform: uppercase;
}
body.page-template-news_template {
    font-family: 'Montserrat' !important;
    font-size: 14px;
    line-height: 26px;
    color: #818181;
    font-weight: 500;
    }

.button-text-area {
    margin: 20px 0;
}

.H-title {
    max-width: 100%;
    width: 30%;
    float: left;
}

.last-text-paregraph {
    max-width: 100%;
    width: 100%;
    display: -webkit-inline-box;
}


.layout-design {
    max-width: 100%;
    width: 100%;
}

.archive.tax-PCategories .content {
    margin-top: 133px !important;
}

.related-detail {
    float: left;
    width: 44%;
margin-right:50px;
    max-width: 100%;
}

.single-products .content .single-products.container {
    background-color: #fff !important;
}

h2.entry_title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.related-product-row {
    max-width: 100%;
    width: 100%;
    clear: both;
}

h1.cate_name {
    text-transform: capitalize;
    padding: 10px 0;
}

h2.handing {
    font-size: 14px;
}
.related-product-content p {
    font-size: 12px;
}
.related-product-content {
    background: #e6f5e6;
    border: 1px solid #000;
    line-height: 18px;
    padding: 12px 17px;
    max-width: 100%;
    width: 100%;
    font-size: 14px;
}

.related-product-image {
    max-width: 100%;
    width: 16%;
    padding: 2px;
    margin: 0px 20px 2px 0px;
    float: left;
}

.container_inner.product-margin {
    top: 150px;
}

.Brand-images-product img, .Brand-thumb-product a img.attachment-post-thumbnail {
    -webkit-box-shadow: 0 0 0.35em rgba(0,0,0,.1);
    box-shadow: 0 0 0.35em rgba(0,0,0,.1);
}

.post_customfields.product {
    width: 100%;
    margin: 15px;
}

.post_text_inner {
    max-height: 100%;
    height: 1000px;
}

.Brand-content-product {
    max-width: 100%;
    width: 50%;
max-height: 100%;
    height: auto;
    margin: 0 15px;
    float: left;
}


.Brand-images-product {
    max-width: 100%;
    width: 15%;
    float: left;
}

a.link-btn.link-btn-default {
    color: #333;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
    padding: 10px 20px;
}


#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}
  
#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}
  
#breadcrumbs .separator{
    font-size:18px;
    font-weight:100;
    color:#ccc;
}

.contact-form span i.fa {
    margin: 10px;
} 

.contact-details .vc_column-inner {
    height: 350px;
}
.contact-form input.wpcf7-form-control.wpcf7-submit:not([disabled]) {
    background: #ea574b !important;
    font-size: 18px;
    text-align: center;
    width: 92%;
    border-radius: 2px !important;
    border: 2px solid #303030;
    color: #fff;
}
a#header-button {
    float: left;
}

a#button-support {
    display: table;
    text-align: center;
    margin: 0 auto;
}
.heading-border-bottom {
    border-bottom: 2px solid #0000fe;
}

 .text-border-bottom  {
    border-bottom: 1px solid #0000fe;
}


ul.myli li {
    color: #fff;
}
.news-letter-row {
    background: #e8e8e8;
    height: 160px;
}

.login-letter .full_section_inner.clearfix {
    margin-top: -190px;
}
.blue-color .vc_column-inner{
   width: 95%;
    margin: 0 10px 0 10px;
    height: 210px;
}

.three-imgaes-height .vc_column-inner {

    height: 245px;
}

.news-letter-row .full_section_inner.clearfix {
    background: #e8e8e8;
    color: #000;
}

i.fa.fa-play {
    font-size: 32px;
    color: #0000fe;
}
.button-contact .contact-explors .vc_column-inner {
    text-align: right;
    float: right;
}

.border-line .vc_column-inner {
    border: 1px solid #000 !important;
    height: 210px;
    width: 95%;
    margin: 0 10px 0 10px;
}

.wpb_text_column.wpb_content_element.booking-text {
    border: 1px solid #fff;
    width: 35%;
    padding: 20px;
    margin: 0 auto;
}
.header_top {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0001e2+0,0213dc+18,0735d1+38,0639d2+39,0538cf+39,073ad1+40,063ace+40,083cd0+40,083cd0+41,063dce+42,0841d0+44,0742cc+45,0944ce+46,0745cc+46,094acc+49,074bca+49,0a4ecb+51,084ec8+51,0a50ca+52,0a58c5+56,0a5bc7+58,095cc4+58,0b5ec6+59,0a68c2+64,0d68c3+65,0b6bbf+67,0d6dc1+68,0b6ebf+69,0e74bf+72,0d75bc+72,0d78bc+75,0e7cbb+76,0d7dbc+78,0e81b8+81,1083ba+82,0e8cb5+87,118cb6+89,0f8fb4+90,1191b6+92,1090b3+93,1193b5+94,1193b5+95,0f94b3+95,0f94b3+96,1295b3+96,1199b3+100 */
background: #0001e2; /* Old browsers */
background: -moz-linear-gradient(left, #0001e2 0%, #0213dc 18%, #0735d1 38%, #0639d2 39%, #0538cf 39%, #073ad1 40%, #063ace 40%, #083cd0 40%, #083cd0 41%, #063dce 42%, #0841d0 44%, #0742cc 45%, #0944ce 46%, #0745cc 46%, #094acc 49%, #074bca 49%, #0a4ecb 51%, #084ec8 51%, #0a50ca 52%, #0a58c5 56%, #0a5bc7 58%, #095cc4 58%, #0b5ec6 59%, #0a68c2 64%, #0d68c3 65%, #0b6bbf 67%, #0d6dc1 68%, #0b6ebf 69%, #0e74bf 72%, #0d75bc 72%, #0d78bc 75%, #0e7cbb 76%, #0d7dbc 78%, #0e81b8 81%, #1083ba 82%, #0e8cb5 87%, #118cb6 89%, #0f8fb4 90%, #1191b6 92%, #1090b3 93%, #1193b5 94%, #1193b5 95%, #0f94b3 95%, #0f94b3 96%, #1295b3 96%, #1199b3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #0001e2 0%,#0213dc 18%,#0735d1 38%,#0639d2 39%,#0538cf 39%,#073ad1 40%,#063ace 40%,#083cd0 40%,#083cd0 41%,#063dce 42%,#0841d0 44%,#0742cc 45%,#0944ce 46%,#0745cc 46%,#094acc 49%,#074bca 49%,#0a4ecb 51%,#084ec8 51%,#0a50ca 52%,#0a58c5 56%,#0a5bc7 58%,#095cc4 58%,#0b5ec6 59%,#0a68c2 64%,#0d68c3 65%,#0b6bbf 67%,#0d6dc1 68%,#0b6ebf 69%,#0e74bf 72%,#0d75bc 72%,#0d78bc 75%,#0e7cbb 76%,#0d7dbc 78%,#0e81b8 81%,#1083ba 82%,#0e8cb5 87%,#118cb6 89%,#0f8fb4 90%,#1191b6 92%,#1090b3 93%,#1193b5 94%,#1193b5 95%,#0f94b3 95%,#0f94b3 96%,#1295b3 96%,#1199b3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #0001e2 0%,#0213dc 18%,#0735d1 38%,#0639d2 39%,#0538cf 39%,#073ad1 40%,#063ace 40%,#083cd0 40%,#083cd0 41%,#063dce 42%,#0841d0 44%,#0742cc 45%,#0944ce 46%,#0745cc 46%,#094acc 49%,#074bca 49%,#0a4ecb 51%,#084ec8 51%,#0a50ca 52%,#0a58c5 56%,#0a5bc7 58%,#095cc4 58%,#0b5ec6 59%,#0a68c2 64%,#0d68c3 65%,#0b6bbf 67%,#0d6dc1 68%,#0b6ebf 69%,#0e74bf 72%,#0d75bc 72%,#0d78bc 75%,#0e7cbb 76%,#0d7dbc 78%,#0e81b8 81%,#1083ba 82%,#0e8cb5 87%,#118cb6 89%,#0f8fb4 90%,#1191b6 92%,#1090b3 93%,#1193b5 94%,#1193b5 95%,#0f94b3 95%,#0f94b3 96%,#1295b3 96%,#1199b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0001e2', endColorstr='#1199b3',GradientType=1 ); /* IE6-9 */}

/*SERVICE SECTION*/
#servicesq {}
#servicesq .vc_col-sm-2 .vc_column-inner .wpb_wrapper {
    border: 1px solid #c8c8c8;
    padding: 30px;
}
#servicesq .vc_col-sm-2 .vc_column-inner .wpb_wrapper:hover {
    background: #1414ff;
}
#servicesq .full_section_inner .vc_col-sm-2:nth-child(1) .vc_column-inner .wpb_wrapper .image_hover::after {
content:'Telephony';
      display: table;
  
}
#servicesq .servicetext .wpb_wrapper { border: 0px solid #c8c8c8;
    padding: 0px;}
#servicesq .servicetext .wpb_wrapper {color:#fff;}